.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #10131f;
}

/* Top div */
.topdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5vw;
  margin-top: 0.5vw;
}

.topdiv-top {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
  justify-content: space-between;
}

.topdiv-top-left {
  width: 75vw;
  height: 27vw;
  background-color: #263044;
}

.topdiv-top-right {
  width: 25vw;
  height: 27vw;
  background-color: #1b4d98;
  float: right;
}

.topdiv-bottom {
  width: 100vw;
  height: auto;
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5vw;
}

.topdiv-bottom-item {
  width: 23vw;
  height: 17vw;
  background-color: #263044;
}

/* Sports div */
.sports {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5vw;
  margin-top: 0.5vw;
  background-color: #10131f;
}

.sports-top {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sports-top-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
}

.sports-top-left-item {
  padding: 1vw 1vw;
  color: white;
  font-size: 0.8rem;
  border-radius: 0.2vw;
  background-color: #171c2c;
}

.sports-top-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2vw;
}

.scroll-icon {
  width: 2.8vw;
  height: 2.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2vw;
  color: white;
  font-size: 1rem;
  background-color: #171c2c;
}

.sports-bottom {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5vw;
  padding-bottom: 2vw;
}

.sports-bottom-item {
  width: 7.4vw;
  height: 7.4vw;
  background-color: #171c2c;
}
